@font-face {
    font-family: 'Audiowide';
    src: url('fonts/Audiowide-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BlackOpsOne';
    src: url('fonts/BlackOpsOne-Regular.ttf') format('truetype');
    /* it can be used for larger text */
}

@font-face {
    font-family: 'ConcertOne';
    src: url('fonts/ConcertOne-Regular.ttf') format('truetype');
    /* it can be used for options */
}

@font-face {
    font-family: 'Exo2';
    src: url('fonts/Exo2-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratAlternates';
    src: url('fonts/MontserratAlternates-BoldItalic.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensure padding and border are included in width/height */
    background: linear-gradient(#0a0f27, #1e3b70, #142544);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-margin-top: 100px;
}

header {
    padding: 10px 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Add a background to make the text stand out */
}

#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav#options {
    display: flex;
    font-family: 'ConcertOne';
    gap: 20px;
}

#head h1 {
    font-family: 'MontserratAlternates';
    font-size: 80px;
}

nav#options a {
    color: white;
    text-decoration: none;
    font-size: x-large;
    margin: 0;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav#options a.active,
nav#options a:hover {
    color: #18ad68;
}

section {
    padding: 0px 20px 20px 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    min-height: 70vh;
    scroll-snap-align: start;
}

section h2 {
    font-family: 'Audiowide', sans-serif;
    font-size: 2em;
    margin-bottom: 50px;
}

#contact {
    margin-top: 0px;
    min-height: 80vh;
}

html {
    scroll-behavior: smooth;
}